@media only screen and (min-width: 1200px) {
  div.ui.container {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  div.ui.container {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  div.ui.container {
    width: 100%;
  }
}
